# Java portable folder (downloaded dynamically by start.bat)
jre/
temp_jre/
jre.zip

# Server runtime cache & logs
cache/
logs/
.console_history
.tools/

# Paper jar cache/patch folders
.paper-jar/

# Personal / private info (if any)
# banned-ips.json
# banned-players.json
# ops.json
# whitelist.json
# usercache.json
